
.contact_information{
    display:flex;
    margin-bottom:var(--mb-2);
}

.contact_icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

#email{
    color: var(--text-color-light);
}
